<div class="trustbar">
  <div class="tb-track">
    <div class="tb-group">
      <div class="tb-item"><span class="tb-star">✦</span> 100% Grass-Fed Tallow</div>
      <div class="tb-item"><span class="tb-star">✦</span> Handcrafted Small Batches</div>
      <div class="tb-item"><span class="tb-star">✦</span> Clean &amp; Non-Toxic</div>
      <div class="tb-item"><span class="tb-star">✦</span> Sensitive Skin Safe</div>
      <div class="tb-item"><span class="tb-star">✦</span> Loved by 100,000+</div>
    </div>
    <div class="tb-group" aria-hidden="true">
      <div class="tb-item"><span class="tb-star">✦</span> 100% Grass-Fed Tallow</div>
      <div class="tb-item"><span class="tb-star">✦</span> Handcrafted Small Batches</div>
      <div class="tb-item"><span class="tb-star">✦</span> Clean &amp; Non-Toxic</div>
      <div class="tb-item"><span class="tb-star">✦</span> Sensitive Skin Safe</div>
      <div class="tb-item"><span class="tb-star">✦</span> Loved by 100,000+</div>
    </div>
  </div>
</div>
